<div class="container">
  <%#= form_with(model: course) do |form| %>
<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
<div class="form-control">
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title %>

  </div>

  <div class="mb-3">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>
<%#= f.rich_text_area :description %>
  <div class="mb-3">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Image</label>
    <%= f.file_field :image %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div> 
</div>
<% end %>
</div>

